* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  background-image: url("../img/iuu.jpg");
  background-size: cover;
  background-position: center;
}
body .nav_section {
  width: 16rem;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.496);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  border-radius: 10px;
  z-index: -100;
  overflow: hidden;
  transition: width 0.1s ease;
}
body .nav_section .nav_header {
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
body .nav_section .nav_header .header_left {
  width: 50%;
  display: flex;
  gap: 0.4rem;
}
body .nav_section .nav_header .header_left .round {
  width: 16px;
  height: 16px;
  background: #ff0000;
  border-radius: 100%;
}
body .nav_section .nav_header .header_left .round:nth-child(2) {
  background: #fbff00;
}
body .nav_section .nav_header .header_left .round:nth-child(3) {
  background: #2de200;
}
body .nav_section .nav_header .header_right {
  width: 50%;
}
body .nav_section .nav_header .header_right .round_btn {
  width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.47);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  cursor: pointer;
  margin-right: 1.2em;
}
body .nav_section .nav_header .header_right i {
  padding: 2px;
}
body .nav_section .nav_main {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: start;
  align-items: center;
}
body .nav_section .nav_main img {
  width: 63px;
  height: 63px;
  border-radius: 100%;
  align-items: center;
}
body .nav_section .nav_main h6 {
  padding-left: 1rem;
  font-weight: 500;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  cursor: pointer;
}
body .nav_section .nav_menu {
  width: 100%;
  height: 45vh;
  margin-top: 0.5em;
}
body .nav_section .nav_menu .menu {
  color: rgb(114, 114, 114);
  font-weight: 300;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  cursor: pointer;
  text-transform: uppercase;
}
body .nav_section .nav_menu .menu_list {
  width: 100%;
  height: 100%;
  list-style-type: none;
  padding-left: 0;
}
body .nav_section .nav_menu .menu_list .respon {
  display: flex;
  justify-content: center;
}
body .nav_section .nav_menu .menu_list .menu_item {
  margin-top: 0.5em;
  height: 2rem;
  transition: font 0.2s ease;
}
body .nav_section .nav_menu .menu_list .menu_item .menu_link {
  text-decoration: none;
  color: rgb(114, 114, 114);
  height: 100%;
  display: flex;
  align-items: center;
}
body .nav_section .nav_menu .menu_list .menu_item .menu_link .icon {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .nav_section .nav_menu .menu_list .menu_item .menu_link .nav_info {
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 1.3rem;
}
body .nav_section .nav_menu .menu_list .menu_item .menu_link .notif {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  margin-left: 8rem;
  background-color: #0055ff;
}
body .nav_section .nav_menu .menu_list .menu_item .menu_link .notif i {
  color: white;
  font-size: small;
}
body .nav_section .nav_menu .menu_list .menu_item .menu_link:hover {
  color: rgb(81, 80, 80);
  font-weight: 500;
}
body .nav_section .nav_menu .menu_list .menu_item .active {
  color: rgb(35, 34, 34);
  font-weight: 600;
  font-size: medium;
}/*# sourceMappingURL=main.css.map */