
// variabel
$red :#ff0000;
$yellow:#fbff00;
$green:#2de200;
$textColor: rgb(114, 114, 114);
$black: rgb(35, 34, 34);
$bgColor:  rgba(255, 255, 255, 0.496);
$btnColor: rgba(255, 255, 255, 0.47);


// mixin
@mixin myDisplay {
    height: 100%;
    display: flex;
    align-items: center;
}

@mixin headText {
    color: $textColor;
    font-weight: 3;
    cursor: pointer;
    text-transform: uppercase;
}

@mixin roundBtn {
    width: 1.875rem;
    height: 1.875rem;
    background-color: $btnColor;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right ;
    cursor: pointer;
    margin-right: 1.2em;
}

// style
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-image: url("../img/iuu.jpg");
    background-size: cover;
    background-position: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    .nav_section {
        width: 16rem;
        height: 100vh;
        background-color: $bgColor;
        backdrop-filter: blur(3px);
        border-radius: 10px;
        z-index: -100;
        overflow: hidden;
        transition: width .1s ease;
        .nav_header{
            height: 4rem;
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            @media only screen and(max-width:560px) {
                height: 2.5rem;
            }
            .header_left{
                width: 50%;
                display: flex;
                gap: 0.4rem;
                .round {
                    width: 16px;
                    height: 16px;
                    background:$red;
                    border-radius: 100%;
                }
                .round:nth-child(2){
                    background: $yellow;
                }
                .round:nth-child(3){
                    background: $green;
                }
            }
            .header_right {
                width: 50%;
                .round_btn {
                    @include roundBtn();
                    margin: auto;
                }
                i {
                    padding: 2px;
                }
            }
        }
        .nav_main {
            width: 100%;
            height: 4rem;
            display: flex;
            justify-content: start;
            align-items: center;
            img {
                width: 3.75rem;
                height: 3.75rem;
                border-radius: 100%;
                align-items: center;
                
            }
            h6 {
                padding-left: 1rem;
                font-weight: 500;
                cursor: pointer;
            }
        }
        .nav_menu {
            width: 100%;
            height: 36vh;
            margin-top: 0.5em;
            .head_text {
                @include headText();
            }
            .menu_list {
                width: 100%;
                height: 100%;
                list-style-type: none;
                padding-left: 0;
                .respon {
                    display: flex;
                    justify-content: center;
                }
                .menu_item {
                    margin-top: 0.5em;
                    height: 2rem;
                    transition: font .2s ease;
                    @media only screen and(max-width:380px) {
                        margin-top: 0.2em;
                    }
                    .menu_link {
                        text-decoration: none;
                        color: $textColor;
                        @include myDisplay();
                        .icon {
                            @include myDisplay();
                            justify-content: center;
                            transition: text-align .2s ease;
                        }
                        .nav_info {
                            @include myDisplay();
                            padding-left: 1.3rem;
                        }
                        .notif {
                            width: 20px;
                            height: 20px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 100%;
                            margin-left: 8rem;
                            background-color: #0055ff;
                            color: #ffffff;
                            font-size: small;
                            i {
                                color: white;
                                font-size: small;
                            }
                        }
                        &:hover {
                            color:rgb(81, 80, 80) ;
                            font-weight: 500;
                        }
                    }
                    .active {
                        color: $black;
                        font-weight: 600;
                        font-size: medium;
                        &:hover {
                            color: $black;
                            font-weight: 600;
                            font-size: medium;
                        }
                    }
                }
            }
        }
        .nav_massage {
            width: 100%;
            height: auto;
            .massage_tool {
                display: flex;
                justify-content: flex-start;
                .head_text {
                    @include headText();
                    font-size: 0.9rem;
                }
                .tool {
                    margin-left: auto;
                    
                    i {
                        cursor: pointer;
                        &:hover {
                            font-size: large;
                        }
                    }
                }
            }
            .massage_card {
                width: 100%;
                height: 100%;
                border-radius: 10px;
                background-color: #ffffff;
                padding: 10px 20px 5px 20px;
                .massage {
                    display: flex;
                    align-items: center;
                    margin-bottom: 00.5em;
                    cursor: pointer;
                    img {
                        width: 40px;
                        height: 40px;
                        border-radius: 100%;
                        border: 1px solid $textColor;
                        text-align: start;
                    }
                    i {
                        margin-left: 1.2em;
                        font-size: small;
                        font-weight: 300;
                        color: $black;
                    }
                    .notif_massage {
                        width: 17px;
                        height: 17px;
                        border-radius: 100%;
                        background-color:rgb(137, 137, 137) ;
                        display: flex;
                        float: right;
                        justify-content: center;
                        align-items: center;
                        font-size: 10px;
                        color: #ffffff; 
                        margin-left: auto;      
                    }
                    @media only screen and(max-width:560px) {
                        &:nth-child(4) {
                            display: none;
                        }
                    }
                }
            }
            @media screen and(max-width:560px) {
                margin-top: 1rem;
            }
        }
        .nav_footer {
            width: 100%;
            height:auto;
            margin-top: 0.5em;
            .footer {
                display: flex;
                .me_img {
                    width: 63px;
                    height: 63px;
                    border-radius: 100%;
                }
                .me {
                    margin: auto;
                    margin-left: 1.2em;
                    .me_name {
                        margin: 0;
                        font-weight: 500;
                        font-size: medium;
                        color: $black;
                        cursor: pointer;
                    }
                    .me_position {
                        margin: 0;
                        font-weight: 400;
                        font-size: medium;
                        color: $btnColor;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .back_tool {
        width: 100%;
        display: flex;
        justify-content: center;
        .back {
            display: none;
            transition: all .1s ease-in;
        }
    }
}